    <% layout('layout/boilerplate') %> 
    <h1>All Campground</h1>
    <div>
        <a href="/campgrounds/new">New Campgrounds</a>
    </div>
    <ul>
        <% for(let camp of camps) { %>
            <li> <a href="/campgrounds/<%= camp._id%>"> <%= camp.title %>  </a></li>
        <% } %>
    </ul>
